@font-face {
  font-family: Army;
  src: url(Army.ttf);
}

* {
  font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  color: rgb(27, 27, 27);
  font-size: 80px;
  font-family: Army;
  font-weight: lighter;
}

body {
  background-color: rgb(230, 230, 230);
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 10fr 1fr;
}

.header, .footer {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
}

.main-content {
  height:auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 50px;
}

.enemyboard, .playerboard, .playerboardplace {
  background: url(water.gif);
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid rgb(27, 27, 27);
  min-height: 450px;
  min-width: 450px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.enemyboard > div, .playerboard > div, .playerboardplace > div {
  border: 1px solid black;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.modal {
  display: block;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
  background-color: rgb(230, 230, 230);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  height: max-content;
  padding: 40px 40px;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

button {
  background: none;
  border: none;
  padding: 10px;
  font-size: 25px;
  color: rgb(230, 230, 230);
  background-color: rgb(37, 37, 37);
  border-radius: 5px;
}

button:hover {
  box-shadow: rgba(39, 39, 39, 0.2) 0px 8px 24px;
  transform: translateY(-3px);
}

h2 {
  font-family: Army;
  font-weight: lighter;
  font-size: 25px;
}

button:active {
  transform: translateY(0px);
}

.enemyboard > div:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.enemyboard {
  cursor: pointer;
}


@media only screen and (max-width: 1200px) {
  .enemyboard, .playerboard, .playerboardplace {
    min-height: 400px;
    min-width: 400px;
  }

}

@media only screen and (max-width: 1000px) {
  .enemyboard, .playerboard, .playerboardplace {
    min-height: 380px;
    min-width: 380px;
  }

}

@media only screen and (max-width: 850px) {
  .enemyboard, .playerboard, .playerboardplace {
    min-height: 350px;
    min-width: 350px;
  }
  h1 {
    font-size: 50px;
  }

}